RewriteEngine On

# Redirect index.html to /
RewriteCond %{THE_REQUEST} ^GET\ /index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Redirect /home to /
RewriteRule ^home$ / [R=301,L]

# Redirect blog.html to /services
RewriteCond %{THE_REQUEST} ^GET\ /blog\.html [NC]
RewriteRule ^blog\.html$ /services [R=301,L]

# Redirect /services to /blog
RewriteRule ^services$ /blog.html [L]

# Redirect text.html to /contact-us
RewriteCond %{THE_REQUEST} ^GET\ /text\.html [NC]
RewriteRule ^text\.html$ /contact-us [R=301,L]

# Redirect /contact-us to /text
RewriteRule ^contact-us$ /text.html [L]
